{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "string-quotes": "single",
    "indentation": 2,
    "selector-pseudo-class-no-unknown": null,
    "selector-type-no-unknown": null,
    "at-rule-no-unknown": null,
    "color-hex-length": "long",
    "color-hex-case": "lower",
    declaration-block-no-shorthand-property-overrides: null,
    no-descending-specificity: null
  }
}