button {
    background: none;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    font-size: 20px;
    outline: none;
    padding: 20px;
    width: 100%;
}

button:hover {
    border-color: black;
}

button:active {
    border-color: seagreen;
}