---
---

@import "{{ site.theme }}";

header {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}

header h1,
header h2 {
  width: auto;
}

header a.button {
  padding-top: 5px;
  font-family: 'Handlee', cursive;
}

#main-content,
aside#sidebar {
  float: none;
  width: auto;
}

aside#sidebar {
  background: none;
  border-top: 1px solid #ccc;
  margin-top: 3em;
  padding-top: 3em;
}

#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}

#main-content h2 {
  font-size: 26px;
  margin: 2em 0 0.5em;
}

#main-content h3 {
  font-size: 22px;
  margin: 2em 0 0.5em;
}

@media only screen and (min-width: 767px) {
  header a.button {
    background: none;
  }
}
