---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'),
       url('/ressources/fonts/handlee-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/ressources/fonts/handlee-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.inner {
  line-height: 1.6em;
}

@media only screen and (max-width: 767px) {
  .inner {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 766px) {
  .inner {
    font-size: 1.2em;
  }

  #content-wrapper .inner {
    display: flex;
  }
}


.inner hr {
  margin: 3em 0;
}

header {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}

header h1,
header h2 {
  width: auto;
}

header a.button {
  padding-top: 0.75em;
  font-family: 'Handlee', cursive;
  width: auto;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header a.button {
    padding-top: 0.55em;
  }
}

.languages {
  position: absolute;
  right: -0.4em;
  top: -2em;
  font-size: 0.85em;
  color: #fff;
}

.languages a,
.languages strong {
  display: inline-block;
  padding: 0.2em 0.4em;
}

.languages a {
  color: #9ddcff;
}

@media only screen and (max-width: 767px) {
  header h1 {
    margin-top: 0.25em;
  }
}


#main-content,
aside#sidebar {
  float: none;
}

aside#sidebar {
  width: 280px;
  background: none;
  border: none;
  margin-top: 0;
  padding-top: 0;
  padding-left: 3em;
}

aside#sidebar h2 {
  margin-top: 0;
  text-align: left;
}

aside#sidebar > * {
  box-sizing: border-box;
  margin-bottom: 2rem;
  font-size: 1rem;
  padding: 0;
}

aside#sidebar .author {
  padding: 0 1em;
  margin-bottom: 33vh;
}

aside#sidebar .author img {
  display: block;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: right;
  margin: 0 0 0.5em 0.5em;
}

aside#sidebar .author {
  margin-bottom: 33vh;
}

aside#sidebar .book {
  padding: 0 1.5em;
  height: 300vh;
  box-sizing: border-box;
}

aside#sidebar .book__inner {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  bottom: 1em;
  display: block;
  text-align: left;
}

aside#sidebar .book img {
  margin: 0.75em 0;
  padding: 0;
  border: 1px solid #4F4A44;
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 250px;
}

aside#sidebar .book p {
  margin: 0.75em 0;
}

aside#sidebar .book small {
  opacity: 0.9;
  display: block;
  transition: opacity 250ms ease-in;
  font-size: 0.9em;
  margin: 0.75em 0;
}

aside#sidebar .book .hidden {
  opacity: 0;
}


@media only screen and (max-width: 767px) {
  aside#sidebar {
    margin: 0;
    padding: 0;
  }

  aside#sidebar h2 {
    text-align: left;
  }

  aside#sidebar .author,
  aside#sidebar .book {
    margin: 0 0 3em 0;
    padding: 0;
  }

  aside#sidebar .author img {
    float: left;
    margin: 0 1em 0.5em 0;
  }

  aside#sidebar .book {
    height: auto;
    position: relative;
  }

  aside#sidebar .book__details {
    display: flex;
  }

  aside#sidebar .book__inner img {
    margin: 0 1em 0.5em 0;
    width: 160px;
    height: auto;
    max-width: 33vw;
  }
}



#main-content h1,
#main-content h2,
#sidebar h2,
#main-content h3,
#main-content h4 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}

#main-content h2,
#sidebar h2 {
  font-size: 26px;
  margin: 2em 0 0.5em;
}

#main-content h3 {
  font-size: 22px;
  margin: 2em 0 0.5em;
}

@media only screen and (min-width: 767px) {
  header a.button {
    background: none;
  }
}

pre code {
  color: #245798;
}
